ul{
    list-style-type: none;
    border: 1px solid #e7e7e7; 
    background-color: #f3f3f3;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
li{
    float:left;
}
.nav-right{
float:right;
}
li a{
    display:block;
    color:#666;
    padding:10px;
}
a{
    text-decoration: none;
    color:#008cba;
}
li a:hover{
    background-color: #dddddd;
}
li a.active{
    background-color: rgb(76,175,80);
    color:white;
}
div{
    border:3px dotted;
    border-radius:15px;
    box-shadow: -15px -10px 0px dimgray;
    backgroud-image:radial-gradient(white,blue)
}
.searchbar{
    width:20%;
    height:auto;
    border:1px;
    border-style: solid;
    border-color: #dfe1e5;
    border-radius:24px;
    margin:8px auto;
    padding:0px 10px;
    display: flexbox;
    


}
.searchbox{
    width:100%;
    padding:8px 8px;
    border:none;
    margin:0 2px;
    outline:none;}

}
table{
    width:100;
    border-collapse: collapse;
}
thead{
    background-color:rgb(76,175,80) ;
    color: white;

}
thead tr{
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: lightgrey;

}